<div id="ivo"></div><div id="aloysius">
<div id="missCallie"><img src="/img/myrkridian/myrkass.jpg" id="myrkAss" style="border: 1px solid {{myrkridianAura}}"/><h1>{{path}}</h1></div>
<ol>
    {{#each paths}}
        <li><a href="{{.}}">{{.}}</a></li>
    {{/each}}

    {{#each things}}
        <li><a href="{{path}}{{.}}">{{.}}</a></li>
    {{/each}}
</ol>
</div>
